
<div class="outbox">
    {{template "header" .}}
    <div class="table-container is-centered" style="margin:0 auto">
        <table class="table" >
            <tbody>
              <tr>
                  <td>命名空间：{{.Data.DepDetail.NameSpace}}</td>
                  <td>名称:{{.Data.DepDetail.Name}}</td>
                  <td>镜像：{{.Data.DepDetail.Images}}</td>
                  <td>创建时间:{{.Data.DepDetail.CreateTime}}</td>
              </tr>
            </tbody>
        </table>
        <nav class="panel"  >
            <p class="panel-heading">
                Pods信息
            </p>
            <div class="table-container">
             <table class="table"  >
                <thead>
                <th width="50%">名称</th>
                <th>镜像</th>
                <th>主机</th>
                <th>创建时间</th>
                </thead>
                <tbody>
                {{range .Data.DepDetail.Pods}}
                    <tr>
                        <td>{{.Name}}</td>
                        <td>{{.Images}}</td>
                        <td>{{.NodeName}}</td>
                        <td>{{.CreateTime}}</td>
                    </tr>
                {{end}}
                </tbody>
            </table>
            </div>
        </nav>

    </div>

</div>

{{template "footer" .}}